<html>
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- libs.min.css -->
	<link rel="stylesheet" href="lib/tether/dist/css/tether.min.css">
	<link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css">
	<!-- yours.min.css -->
	<link rel="stylesheet" href="assets/css/common.min.css">
	<link rel="stylesheet" href="assets/css/family-detail.min.css">
</head>
<body>
	<!-- header -->
	<%- include('common/header.ejs', { activeIndex: 0 }) %>
	<div class="container">
		<%- include('common/breadcrumb.ejs', breadcrumb) %>
		<div class="row car-info">
			<div class="col-sm-4">
				<h5 class="car-name text-muted font-weight-bold"><%= car.name %></h5>
				<img class="car-img" src="<%= car.src %>" alt="">
				<br>
				<br>
				<iframe class="video-iframe" style="z-index:1;" src="http://v.qq.com/iframe/player?vid=d0163kxz8di" auto=0; allowfullscreen="" frameborder="0" height="200"></iframe>
			</div>
			<div class="col-sm-8">
				<p class="text-danger">主要参数：</p>
				<p class="time">年&nbsp;&nbsp;&nbsp;份<span><%= car.year %></span></p>
				<p class="engine">发动机<span><%= car.engine %></span></p>
				<p class="gearbox">变速箱<span><%= car.gearbox %></span></p>
				<p class="transmission">传&nbsp;&nbsp;&nbsp;动<span><%= car.transmission %></span></p>
				<p class="size">尺&nbsp;&nbsp;&nbsp;寸<span><%= car.size %></span></p>
				<p class="wheelbase">轴&nbsp;&nbsp;&nbsp;距<span><%= car.wheelbase %></span></p>
				<p class="front-wheelbase">前轴距<span><%= car.frontWheelbase %></span></p>
				<p class="rear-wheelbase">后轴距<span><%= car.rearWheelbase %></span></p>
				<p class="axle-load">轴&nbsp;&nbsp;&nbsp;荷<span><%= car.axleLoad %></span></p>
				<p class="axle-load-ratio">轴荷比<span><%= car.axleLoadRatio %></span></p>
				<p class="full-mass">总质量<span><%= car.fullMass %></span></p>

				<p class="text-danger">主要成就：</p>
				<% car.awards.forEach(function(item, idx) { %>
				<p class="award"><%= item %></p>
				<% }); %>
			</div>
		</div>
	</div>
	<!-- footer -->
	<%- include('common/footer.ejs', footer) %>

	<script src="lib/jquery/dist/jquery.min.js"></script>
	<script src="lib/tether/dist/js/tether.min.js"></script>
	<script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
