<html>
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- libs.css -->
	<link rel="stylesheet" href="lib/tether/dist/css/tether.css">
	<link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="lib/font-awesome/css/font-awesome.css">
	<link rel="stylesheet" href="lib/swiper/dist/css/swiper.css">
	<!-- yours.css -->
	<link rel="stylesheet" href="assets/css/common.css">
	<link rel="stylesheet" href="assets/css/family.css">
</head>
<body>
	<!-- header -->
	<%- include('common/header.ejs', { activeIndex: 3 }) %>

	<div class="swiper-container">
		<div class="swiper-wrapper">
			<% cars.forEach(function(item, idx) { %>
			<a href="<%= item.href %>" class="swiper-slide" data-idx="<%= idx %>">
				<div class="img" style="background-image: url(<%= item.src %>)"></div>
			</a>
			<% }); %>
		</div>
		<div class="swiper-pagination"></div>
	</div>

	<div class="container">
		<% cars.forEach(function(item, idx) { %>
		<div class="car-info clearfix" data-idx="<%= idx %>">
			<h4 class="name"><span><%= item.name %></span></h4>
			<p class="time">年&nbsp;&nbsp;&nbsp;份<span><%= item.year %></span></p>
			<p class="engine">发动机<span><%= item.engine %></span></p>
			<p class="gearbox">变速箱<span><%= item.gearbox %></span></p>
			<p class="transmission">传&nbsp;&nbsp;&nbsp;动<span><%= item.transmission %></span></p>
			<a href="<%= item.href %>" class="btn btn-outline-info btn-block">了解更多</a>
		</div>
		<% }); %>
	</div>

	<!-- footer -->
	<%- include('common/footer.ejs', footer) %>

	<script src="lib/jquery/dist/jquery.js"></script>
	<script src="lib/tether/dist/js/tether.js"></script>
	<script src="lib/bootstrap/dist/js/bootstrap.js"></script>
	<script src="lib/swiper/dist/js/swiper.jquery.js"></script>

	<script>
		$(function() {
			var swiper = new Swiper('.swiper-container', {
				pagination: '.swiper-pagination',
				autoplay: 2500,
				autoplayDisableOnInteraction: true,
				effect: 'coverflow',
				centerredSlides: true,
				slidesPerView: '3',
				coverflow: {
					rotate: 50,
					stretch: 0,
					depth: 100,
					modifier: 1,
					slideShadows: true
				},
				loop: true
			});

			swiper.on('slideChangeEnd', function(sw) {
				var idx = parseInt($('.swiper-slide-active').attr('data-idx'));
				$('.car-info').hide().eq(idx).show();
			});

			swiper.on('touchEnd', function(sw) {
				var idx = parseInt($('.swiper-slide-active').attr('data-idx'));
				$('.car-info').hide().eq(idx).show();
			});

			$('.car-info').hide().eq(0).show();
		});
	</script>
</body>
</html>
