<html>
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- libs.css -->
	<link rel="stylesheet" href="lib/tether/dist/css/tether.css">
	<link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="lib/font-awesome/css/font-awesome.css">
	<!-- yours.css -->
	<link rel="stylesheet" href="assets/css/common.css">
	<link rel="stylesheet" href="assets/css/news.css">
</head>
<body>
	<!-- header -->
	<%- include('common/header.ejs', { activeIndex: 1 }) %>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<a href="#" class="media-more">更多&nbsp;>></a>
				<h4 class="media-header">媒体越影</h4>
				<ul class="list-unstyled">
					<% media.forEach(function(item) { %>
					<li class="media">
						<img src="assets/img/loading.gif" alt="loading" class="d-flex mr-3">
						<div class="media-body">
							<a href="">
								<h5 class="media-title mt-0 mb-1">
									<%- item.title %>
									<span class="media-meta float-right small"><%- item.meta %></span>
								</h5>
								<p class="media-desc"><%- item.desc.substr(0, 100) + ' ......' %></p>
							</a>
						</div>
					</li>
					<% }); %>
				</ul>
			</div>
			<div class="col-sm-6">
				<a href="" class="media-more">更多&nbsp;>></a>
				<h4 class="media-header">通知公告</h4>
				<ul class="list-unstyled">
					<% post.forEach(function(item) { %>
					<li class="media">
						<img src="assets/img/loading.gif" alt="loading" class="d-flex mr-3">
						<div class="media-body">
							<a href="">
								<h5 class="media-title mt-0 mb-1">
									<%- item.title %>
									<span class="media-meta float-right small"><%- item.meta %></span>
								</h5>
								<p class="media-desc"><%- item.desc.substr(0, 100) + ' ......' %></p>
							</a>
						</div>
					</li>
					<% }); %>
				</ul>
			</div>
		</div>
	</div>
	<div class="slogan" style="background-image: url(<%= slogan.src %>)">
		<span><%= slogan.text %></span>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<a href="#" class="media-more">更多&nbsp;>></a>
				<h4 class="media-header">越影日记</h4>
				<ul class="list-unstyled">
					<% media.forEach(function(item) { %>
					<li class="media">
						<img src="assets/img/loading.gif" alt="loading" class="d-flex mr-3">
						<div class="media-body">
							<a href="">
								<h5 class="media-title mt-0 mb-1">
									<%- item.title %>
									<span class="media-meta float-right small"><%- item.meta %></span>
								</h5>
								<p class="media-desc"><%- item.desc.substr(0, 100) + ' ......' %></p>
							</a>
						</div>
					</li>
					<% }); %>
				</ul>
			</div>
		</div>
	</div>

	<div class="sponsor-slogan">
		<p>
			<img class="title-sponsor" src="assets/img/slogan.jpg" width="200" height="200">
		</p>
		<img src="assets/img/slogan.jpg">
		<img src="assets/img/slogan.jpg">
		<img src="assets/img/slogan.jpg">
		<img src="assets/img/slogan.jpg">
	</div>

	<!-- footer -->
	<%- include('common/footer.ejs', footer) %>

	<script src="lib/jquery/dist/jquery.js"></script>
	<script src="lib/tether/dist/js/tether.js"></script>
	<script src="lib/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>
